/SControlClient/SControlClient.vcxproj.user
/SControlClient/x64/Debug/pch.obj
/SControlClient/x64/Debug/UserInfoDlg.obj
/SControlClient/x64/Debug/UDPPassClient.obj
/SControlClient/x64/Debug/*.obj
/SControlClient/x64/Debug
/SControlServer/x64/Debug
